video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
    filter: blur(0px) brightness(70%);
}

.container {
    width: 90%;
    height: 500px;
    margin: 5px 2%;
    border: 2px solid #d30fd3;
    margin: 20px 40px;
    padding: 7px 2%;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.div1 {
    height: 100%;
    width: 50%;
    padding: 20px;
    text-align: start;
    display: block;
    /* align-items: center; */
    align-content: center;
    justify-content: center;
}

.div1 h1 {
    font-size: 70px;
    color: white;
    
}
.div1 p{
    color: white;
}

.div2 {
    height: 96%;
    width: 50%;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    
}



.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

/* Psuedo Class */

.heading p a:link{
    color: yellow;
}

.heading p a:hover{
    color: red;
    cursor: pointer;  
}
.heading p a:active{
    color: green;
}

/* .heading p a:visited{
    color: pink;
} */

.div2 .img:first-child{
    box-shadow: 0px 6px 30px -3px rgba(255,255,255,1);
}

.div2 .img:last-child{
    box-shadow: 0px 6px 30px -3px rgba(255,255,255,1);
}

.div2 .img:nth-child(2){
    box-shadow: 0px 6px 30px -3px rgba(255,255,255,1);
}


/* Pseudo Element */

.div1 h1::first-letter{
    color: #C3028F;
}

.div1 p::first-line{
    color: aqua;
}

.div1 p::selection{
    color: black;
    background-color: white;
}

.div1 p{
    position: relative;
}

.div1 p::before{
    content: 'Hello';
    height: 20px;
    width: 30px;
    background-color: blue;
    color: red;
}

